.imagem{
    height: 650px;
    width: 600px;
    margin-top: 10px;
    align-items: flex-end;
    justify-content: flex-end;
}
.form-header{
    display: flex start;
    justify-content: space-between;
    margin-bottom: 3rem; 
}

.la{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 700px;
}
.login-button button{
    border: none;
    background-color: #2B3775;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box input{
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    background-color: #979EDB; 
}

.input-box input:focus-visible{
    outline: 1xp solid #979EDB;
}

.input-box input::placeholder{
    color: aliceblue;
}

.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: black;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;

}

.login-button button:hover {
    background-color: #979EDB;
}

.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: blanchedalmond;
}
.texto{
    font-family: 'Nunito', sans-serif;
    color: #2B3775;
}
.title{
    color: #2B3775;
    display: flex;
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.form {
    width: 35%;
    display: flex;
    margin-left: 10%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 3rem;
}

.botao{
    margin-right: 5%;
    background-color: #2B3775 !important;
    color: aliceblue !important;
    text-decoration: none;
}