<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Track</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&family=Nunito:wght@200;300;400&display=swap" rel="stylesheet">
</head>
<body>
    <div class="la">
        <div class="conteudo">
            <h1 class="titulo_principal">Tempo e Dinheiro: <br> Juntos na Sua Agenda</h1>
            <p class="texto">
            Combinando uma agenda pessoal intuitiva e metas de economia inteligentes, o Time Track capacita você a planejar, economizar e conquistar seus objetivos financeiros, um dia de cada vez.
            </p>
        
            <div>
                <a  mat-raised-button  href = "./cadastro" class="botao" > Cadastre-se</a> 
                <a  mat-raised-button  href = "./entrar" class="botao" > Entrar</a> 
            </div>
        </div>
        <div>
            <img src="/assets/Imagem (1).png" alt="minha-imagem" class="imagem_1">
        </div>
    
    </div>
    <router-outlet></router-outlet>
</body>

</html>